@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

#home-section::-webkit-scrollbar {
  width: 12px;
}


#home-section::-webkit-scrollbar-thumb {
  background: #888;
}

#home-section::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}
